@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

#rotate-logo {
  position: fixed;
  top: 40%;
  left: 45%;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotating-logos {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  display: flex;
  background-color: black;
  /* z-index: 1; */
}

#logo1 {
  position: absolute;
  display: flex;
  left: 60px;
  top: 100px;
}

#backgnd {
  background-color: white;
  width: 100vw;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#drop-zone {
  width: 25rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(62, 138, 121);
  font-size: large;
}

#icon {
  color: darkcyan;
  margin-bottom: 1rem;
}

#choose-file {
  margin-left: 8rem;
  color: black;
}

#logo2 {
  width: 12rem;
}

body {
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: max-content;
  margin: 0;
  border: 0;
  padding: 0%;
}

.goals-main {
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: white;
  stroke: white;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

div.tool {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  font: 10px sans-serif;
  background: white;
  color: grey;
  border: solid 1px black;
  pointer-events: none;
}

.contain {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 3vw;
  height: 100%;
  flex-wrap: nowrap;
  background-color: white;
  cursor: pointer;
  border-right: 0.25vw solid rgba(0, 0, 0, 0.75);
  color: limegreen;
}

.side {
  width: 100%;
  height: 5.93vh;
}

.buttons {
  line-height: 0%;
  width: 2.8vw;
  height: 5.882vh;
  padding: 0%;
}

.img-inner:hover{
  transform: scale(1.2);
}

.img-outer{
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  width: 2.8vw;
  height: 5.882vh;
  overflow: hidden;
  
}

.img-inner{
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* transform: scale(0.8); */
  transition: 0.2s all ease;

}

body {
  position: relative;
  overflow: hidden;
}

#logo {
  position: absolute;
  left: 2.95vw;
}

#img {
  margin-top: 5px;
  margin-right: 10px;
}

#menu {
  display: flex;
  justify-content: right;
  background-color: rgb(40, 75, 89);
  color: white;
  position: absolute;
  height: 2.5rem;
  width: 100%;
  top: 0;
}

#upload-h1 {
  font-weight: bold;
  color: green;
}

#upload {
  background-color: #19a1b7;
  border: 0;
  color: white;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
}

#side-container {
  position: absolute;
  left: 3.0421vw;
  top: 15vh;
  width: 80rem;
  height: 40rem;
  color: white;
  display: flex;
  z-index: 999;
  border-radius: 0 1rem 1rem 0;
}

#h4-accordion {
  margin: 0;
  font-weight: bold;
}

#h6-accordion {
  margin: 0;
  font-weight: bold;
}

#left-accordion {
  margin: 0.5rem;
}

#accordion-name {
  margin: 0.3rem 1rem;
  font-weight: 100;
}

.accordion-body { 
  display: none;
  color: rgba(255, 255, 255, 0.650);
  margin-left: 6rem;
}

.accordion-header {
  color: rgba(255, 255, 255, 0.750);
  cursor: pointer;
  display: flex;
}

.accordion-header:hover {
  color: white;
  cursor: pointer;
}

.accordion-body:hover {
  color: rgba(255, 255, 255, 0.825);
  cursor: pointer;
}

.accordion-header.active+.accordion-body {
  display: block;
}

.accordion-lists {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.accordion-lists:hover {
  color: white;
  cursor: pointer;
}

#leftside-container {
  width: 30%;
}

#rightside-container {
  width: 70%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#rightside-container::-webkit-scrollbar {
  width: 0.9rem;
  padding: 0;
  margin: 0;
}

#rightside-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.342);
  border-radius: 1rem;
  padding: 0;
  margin: 0;
} 

#upload:hover {
  transform: scale(0.9);
  transition: 0.3s all ease-in-out;
}

#inside {
  width: 50%;
  display: flex;
  margin-top: 8px;
  justify-content: space-around;
}

#menus {
  margin-right: 4rem;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

#menus:hover {
  text-decoration: underline;
}

#home-outside {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}

.mplogo {
  height: 20vi;
  width: 20vi;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  width: 42vi;
  height: 42vi;
  position: relative;
  pointer-events: none;
}

#home-h1 {
  position: absolute;
  pointer-events: none;
}

form.bg-image {
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwYICAgIBwYGBwcHBgoHCAYGBw8ICRAKIBEiFiARExMYHCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDg0NDg0NDisZHxkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAM0A9gMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQQH/8QAFRABAQAAAAAAAAAAAAAAAAAAAAH/xAAYAQEBAQEBAAAAAAAAAAAAAAABAAQGBf/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOjAOReuItRIBCQAoQCRFQkRUKEVCQohIASIBSAEoASBQoQoSCKk1gMTMgCIgFAISAEpQCkoBIgEiAUAEoioUItQkAJAQoBCQAlsBGFlAQkAKEqoSJVQkRUKAQkBCQAkRalKQAkQEgAkQCRFQoAJbEBhZSoqElAJQApACRAJEAoRahIASiKhQCEgBIAUlAJSgEoqBTYUGFmQAoRUJASkgJSgCkoAigBQioSIBIgFBQJEqoSIqFAISAFNiKjCzABKBQoQoSIBQioSIqEgBIghQUCUAJACkAJQAkQoUCKi1gViZQERAQkAKQAlACUAKCiElQChFQkAJEVCgEpICUkAKQAlsAYWUQCRFQkRUKEVCQohIASIBSAEoASBQpAoSIBQioiIqEgBTYCMLMAEpQCkoBJUAkQCgAlEVChFqEgFJAQoBCQAlACkAJSgJNqVUYmYSqhIioUAhICEgBIi1KUgBIgJABIgEiKhQlVCRKqEhRCgAlsAYWVACRAJEAoRahIASiKhQCEgBICFABKUAlKAUIBIgEgCTYCViZgEpQBSUARQAoRUJEAkQCgoEiVUJEVCgEJAQkBKUAEgCTYhRiZhFQoRUJEVCQAkQQoKBKAEgBSAEoASIUKEKEiLUKAEQBJ//9k=');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 5px grey;
}

#login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10vh;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  margin-top: 0%;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

form button[type="submit"] {
  background-color: #0095f6;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
}

form button[type="submit"]:hover {
  background-color: #0072bb;
  margin: auto;
  margin-top: 10%;
}

.toggle-btn {
  margin-top: 20px;
  font-size: 14px;
  color: #262626;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.toggle-btn:focus {
  outline: none;
}

button {
  display: block;
  margin: 0 auto;
}

#button {
  background-color: rgb(4, 204, 27);
  border: 0;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

#button:hover {
  background-color: rgb(1, 150, 16);
}

#button:active {
  background-color: rgb(4, 204, 27);
}

#login {
  border-radius: 10px;
  width: 10rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#login:active {
  background-color: #0077cc;
}

#login-heading {
  margin-top: 30vh;
  margin-bottom: 3vh;
  color: blue;
  font-weight: bold;
}

#forgetpassword {
  background-color: transparent;
  border: none;
  color: #0077cc;
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 10px;
}

#label {
  width: 16rem;
}

#input {
  display: inline;
  width: 16rem;
}

#span {
  display: inline;
  background-color: white;
}

.fa-eye-slash {
  height: 1.6rem;
  background-color: white;
  padding: 0.5rem 0.2rem 0.15rem 0.2rem;
}

.fa-eye {
  height: 1.6rem;
  background-color: white;
  padding: 0.5rem 0.25rem 0.15rem 0.25rem;
}

input {
  outline: 0;
  border-radius: 0;
  border: 0;
  margin-right: 0;
}

#pass {
  font-size: 1rem;
}

#user {
  font-size: 1rem;
}

.my-hr {
  border-top: 2px solid black;
  border-left: 20px;
  border-width: px;
  border-bottom-left-radius: 5px;
  border-right: 5px;
  margin-top: 15px;
  margin-left: 5;
  margin-right: 10px;
  margin-bottom: 15px;
}

.main {
  background-color: none;
  color: white;
}

#sdg-logo {
  margin: 3rem 0 1rem 4rem;
}

.data {
  font-weight: bolder;
  margin-left: 2rem;
}

#side-translation {
  transform: translate(-50%, 0);
}